<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title>Spring Boot Thymeleaf boilerplate</title>
<link rel=icon th:href="@{/images/demoLogo.png}"  >
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/multiselect.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<script	type="text/javascript" th:src="@{/css/jquery.min.js}"></script>
<script	type="text/javascript" th:src="@{/css/bootstrap.min.js}"></script>
<script	type="text/javascript" th:src="@{/css/multiselect.js}"></script>


<script>
    $( document ).ready(function() {
        console.log( "document loaded" );
        
        $("#cancelUpdate" ).click(function() {
        	var url = "/userDemo/admin/allCars";
			$(location).attr('href',url);
			
        });

        $("#homeBtn" ).click(function() {
            var newPath = "/userDemo/admin/allCars";
            $(location).attr('href',newPath);
        });
        
    });
</script>

</head>

<body>

    <div class="navbar navbar-custom">
        <div class="navbar-header">
          <img th:src="@{/images/demoLogo.png}" class="sideLogo img-responsive"  alt="Logo" />
        </div>
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav paddingTop" style="float: right">
			<li class="centerText">
				Welcome  <span sec:authentication="name"></span> &nbsp;
			</li>
			<li>
				<button class="btn btn-primary" id="homeBtn" type="button">Home</button>
				&nbsp;
			</li>
			<li>
			<form th:action="@{/logout}" method="get">
				<button class="btn btn-primary" type="Submit">Logout</button>
 			</form>
 		 </li>
        </ul>
        </div>
    </div>

	<div class="container">
		<div class="row">
		     <div class="col-xs-3 col-md-3">
		       <p>&nbsp;</p>
		     </div>
		     <div class="col-xs-6 col-md-6">
		     
		     <p>
		     <span class="admin-message-text" th:text="${successMessage}"></span>
		     </p>
		     <p>
		     Update your password
		     </p>		     
		     
		     <form id="mainForm" autocomplete="off" action="#" th:action="@{/admin/updateUserPassword}"  
					th:object="${userPasswordDto}" method="POST" class="form-horizontal" role="form">
		     
		     <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
					    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
			 </div>
			 <input type="hidden" th:field="*{userId}" class="form-control" />		     
			 <label class="titleForm">Old Password</label>
			 <input type="password" th:field="*{oldPassword}" class="form-control" />
			 <p>&nbsp;</p>
			 <label class="titleForm">New Password</label>
			 <input type="password" th:field="*{password}" class="form-control" />
			 <p>&nbsp;</p>
			 <label class="titleForm">Confirm Password</label>
			 <input type="password" th:field="*{repeatedPassword}" class="form-control" />
			 <p>&nbsp;</p>
			 
			 <div class="text-center">
				        <button type="submit" class="btn btn-primary" >Update</button>
				        <button type="button" class="btn btn-primary" id="cancelUpdate">Cancel</button>
			 </div>
			</form>		
			</div>
		     <div class="col-xs-3 col-md-3">		     
		       <p>&nbsp;</p>
		     </div>
		</div>

	</div>

</body>
</html>